h1{
    color: #6767b0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 25px;
    color: rgb(81, 141, 75);
    font-family: cursive;
}

p{
    color: rgb(208, 109, 143);
}
.Class1{
    color: rgb(215, 115, 43);
    background-color: aqua;
}
#id123{
    color: rgb(192, 108, 108);
    background-color: #32540A;
}