h1{
    color: #0000FF;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 25px;
    color: rgb(35, 248, 15);
    font-family: cursive;
}

p{
    color: rgb(255, 127, 172);
}
.Class1{
    color: chocolate;
    background-color: aqua;
}
#id123{
    color: red;
    background-color: #32540A;
}